
<form method="POST" action="{{ tupas.url }}" class="tupasform">
    <input name="A01Y_ACTION_ID" type="HIDDEN" VALUE="{{ constant('ACTION_ID', tupas.request) }}">
    <input name="A01Y_VERS" type="HIDDEN" VALUE="{{ tupas.request.version }}">
    <input name="A01Y_RCVID" type="HIDDEN" VALUE="{{ tupas.request.serviceProvider }}">
    <input name="A01Y_LANGCODE" type="HIDDEN" VALUE="{{ tupas.request.language }}">
    <input name="A01Y_STAMP" type="HIDDEN" VALUE="{{ tupas.request.stamp }}">
    <input name="A01Y_IDTYPE" type="HIDDEN" VALUE="{{ tupas.request.idType }}">
    <input name="A01Y_RETLINK" type="HIDDEN" VALUE="{{ tupas.request.returnLink }}">
    <input name="A01Y_CANLINK" type="HIDDEN" VALUE="{{ tupas.request.cancelLink }}">
    <input name="A01Y_REJLINK" type="HIDDEN" VALUE="{{ tupas.request.rejectedLink }}">
    <input name="A01Y_KEYVERS" type="HIDDEN" VALUE="{{ tupas.request.keyVersion }}">
    <input name="A01Y_ALG" type="HIDDEN" VALUE="{{ tupas.request.algorithmCode }}">
    <input name="A01Y_MAC" type="HIDDEN" VALUE="{{ tupas.request.mac }}">
    <button>
        {{ tupas.buttonText }}
    </button>
</form>